@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}

.container {
  padding: 8px;
  max-width: 1100px;
  margin: 0 auto;
}

/* Hero section */

.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

.hero .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-logo {
  font-size: 24px;
  font-weight: bolder;
}

.header ul {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 16px;
  opacity: 0.8;
}

.hero .hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.hero-main-left h1 {
  font-size: 48px;
  margin-bottom: 0;
}

.hero-main-left p {
  margin-top: 0;
  opacity: 0.8;
  margin-right: 2rem;
}

.hero-main-left button {
  padding: 10px 32px;
  border-radius: 10px;
  color: inherit;
  background-color: #3882f6;
  font-size: 16px;
  font-weight: 600;
}

/* Information section */

.info {
  text-align: center;
  margin-bottom: 80px;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info .box-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.box .img-container {
  border: 4px #3882f6 solid;
  height: 150px;
  width: 100%;
  border-radius: 20px;
}

.box p {
  width: 100%;
  margin-top: 8px;
  color: #1f2937;
  opacity: 0.8;
}

/* Quote section */

.quote {
  padding: 100px 0;
  background-color: #e5e7eb;
}

.quote blockquote {
  width: 75%;
  margin: 0 auto;
  color: #1f2937;
}

.quote blockquote p {
  font-size: 36px;
  font-style: italic;
  opacity: 0.8;
}

.quote blockquote footer {
  text-align: end;
  font-weight: 900;
  font-size: 36px;
  margin-right: 20px;
}

/* Call to Action (CTA) section */

.CTA-container {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
  padding: 50px 0;
}

.CTA-text h3 {
  margin: 0;
}

.CTA-text p {
  margin: 0;
  opacity: 0.8;
}

.CTA-container button {
  background: transparent;
  border: 2px solid white;
  color: inherit;
  padding: 10px 32px;
  border-radius: 10px;
}

/* Footer */

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 40px 0;
}
